body, html {
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, sans-serif;
    flex-direction:column;
}

.container {
    display:flex;
    flex-direction:row;
    gap:20px;
}

.botao {
    font-size:100px;
    padding:20px;
    border:none;
    background:none;
    cursor:pointer;
}
