body, html {
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, sans-serif;
    flex-direction:column;
}

.container {
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap; /* para mobile */
}

.botao {
    font-size: 150px; /* maior tamanho */
    padding: 40px;
    border:none;
    background:none;
    cursor:pointer;
}

#mensagem {
    font-size: 30px;
    margin-top: 20px;
    height: 40px; /* para não “pular” layout */
    color: #333;
    text-align:center;
}
