<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satisfação</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Avalia o atendimento</h1>

<div class="botoes">
    <button onclick="registar('Muito satisfeito')">😄<br>Muito satisfeito</button>
    <button onclick="registar('Satisfeito')">🙂<br>Satisfeito</button>
    <button onclick="registar('Insatisfeito')">🙁<br>Insatisfeito</button>
</div>

<p id="msg"></p>

<script src="/static/script.js"></script>
</body>
</html>
