<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Satisfação Secretaria</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <button class="botao" onclick="clicar('Muito Satisfeito')">😄</button>
    <button class="botao" onclick="clicar('Satisfeito')">🙂</button>
    <button class="botao" onclick="clicar('Insatisfeito')">😟</button>
</div>
<div id="mensagem"></div>

<script>
function clicar(nivel){
    fetch("/registar", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({nivel:nivel})
    }).then(res => res.json())
      .then(data => {
          const msg = document.getElementById("mensagem");
          msg.innerText = "Obrigado pela sua opinião!";
          setTimeout(() => { msg.innerText = ""; }, 2000); // desaparece sozinho
      });
}
</script>
</body>
</html>

